<h1>Here are your recipes!</h1>
<br>
<% @recipes.each do |recipe| %>
  <h2><%= recipe.name %></h2>
  <ul>
    <li>Ingredients: <%= recipe.ingredients %></li>
    <li>Cook Time: <%= recipe.cook_time %></li>
  </ul><br>
<% end %>
