<h1>Here is your recipe</h1>
<br>
<div class="recipe">
  <h2><%= @recipe.name %></h2>
  <ul>
    <li>Ingredients: <%= @recipe.ingredients %></li>
    <li>Cook Time: <%= @recipe.cook_time %></li>
  </ul>
</div>
